@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);

  --color-purple-800: hsl(237, 14%, 26%);
  --color-purple-700: hsl(233, 14%, 35%);
  --color-purple-600: hsl(235, 16%, 43%);
  --color-purple-400: hsl(234, 39%, 85%);
  --color-purple-100: hsl(236, 33%, 92%);

  --color-gray-600: hsl(236, 9%, 61%);
  --color-gray-300: hsl(233, 11%, 84%);
  --color-gray-50: hsl(0, 0%, 98%);

  --color-navy-950: hsl(235, 21%, 11%);
  --color-navy-900: hsl(235, 24%, 19%);
  --color-navy-850: hsl(235, 19%, 35%);

  --color-blue-500: hsl(220, 98%, 61%);

  --color-gradient-1: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --color-gradient-2: linear-gradient(
    to right,
    hsl(254, 85%, 40%),
    hsl(307, 64%, 39%)
  );

  /* Spacing */
  --spacing-0: 0rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;

  /* Typography */
  --font-family: "Josefin Sans", sans-serif;
}

:root {
  --color-background: var(--color-gray-50);
  --form-background: var(--color-white);
  --input-text-color: var(--color-purple-800);
  --list-background: var(--color-white);
  --list-box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
  --list-item: var(--color-navy-850);
  --color-border: var(--color-purple-400);
  --line: var(--color-gray-600);
}

.dark {
  --color-background: var(--color-navy-950);
  --form-background: var(--color-navy-900);
  --input-text-color: var(--color-gray-600);
  --list-background: var(--color-navy-900);
  --list-box-shadow: 0 35px 50px -15px rgba(0, 0, 0, 0.5);
  --list-item: var(--color-purple-100);
  --color-border: var(--color-purple-800);
  --line: var(--color-purple-700);
}

.bg-hero {
  background-image: url("./assets/images/bg-mobile-light.jpg");
}

.dark .bg-hero {
  background-image: url("./assets/images/bg-mobile-dark.jpg");
}

@media (min-width: 768px) {
  .bg-hero {
    background-image: url("./assets/images/bg-desktop-light.jpg");
  }

  .dark .bg-hero {
    background-image: url("./assets/images/bg-desktop-dark.jpg");
  }
}

body {
  background-color: var(--color-background);
  font-family: var(--font-family);
  font-size: var(--font-size-18);
}

.gradient-circle {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--color-border);
  background: var(--list-background);
  position: relative;
  cursor: pointer;
}

.gradient-circle:hover {
  background:
    linear-gradient(var(--list-background), var(--list-background)) padding-box,
    var(--color-gradient-1) border-box;
  border: 1px solid transparent;
}

.gradient-circle:checked {
  background: var(--color-gradient-1);
  border: none;
}

.gradient-circle:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 8px;
  background-image: url("./assets/images/icon-check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.gradient-circle:checked + span {
  text-decoration: line-through;
  opacity: 0.5;
  color: var(--line);
}

@media (min-width: 768px) {
  .gradient-circle {
    width: 24px;
    height: 24px;
  }

  .gradient-circle:checked::after {
    width: 12px;
    height: 10px;
  }
}
